# Ignore secret keys and environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# VS Code or editor configs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
