streamlit
PyPDF2
langchain==0.1.16
faiss-cpu
transformers
google-generativeai==0.6.0
langchain-google-genai==1.0.3
python-dotenv
requests
huggingface-hub
torch
openai
tiktoken
nest_asyncio
